.box{
  width: 60vw;
  display: flex;
  color: white;
  justify-items: center;
}

.item{
  height: 50px;
  background-color: #120C32;
  border: 2px solid #FF9950;
  flex: 1;
  transition: .2s;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  margin-left: 10px;
  margin-right: 10px;
}
.item:hover{
  flex: 3;
  background-color: #FF9950;
}
