.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./media/bgOrange.png");
}

.header{
  width: 100%;
  height: 13%;
}

.corpus{
  width: 100%;
  height: 77%;
}

.footer{
  width: 60%;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #120C32;
  border-radius: 32px;
  border: 2px solid #FF9950;
}
