.logoCorps{
  background-image: url("./logo/ITlogo.png");
  height: 59px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 32px;
  border-style: solid;
  border-color: #FF9950;
}
