<div class="corps-create-forma">
  <div class="title">
    Contacter le responsable de la formation
  </div>
  <div class="content">
    <form>
      <input type="text" placeholder="Nom" name="lastname"/>
      <input type="text" placeholder="Prenom" name="firstname"/>
      <input type="email" placeholder="Email" name="email"/>
      <input type="text" placeholder="Objet de la demande" name="object"/>
      <input style="height: 150px;" type="textarea" placeholder="Message" name="message"/>
      <button style="margin-top: 20px;">Contacter le responsable de foramtion</button>
    </form>
  </div>
</div>
