<div class="navbar">
  <div class="container nav-container">
      <input class="checkbox" type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    <div class="menu-items">
      <li class="searchbar"><app-searchbar></app-searchbar></li>
      <li class="buttons"><app-buttons></app-buttons></li>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="liste">Liste des formations</a></li>
      <!-- <li><a routerLink="create">Demander la création d'une formation</a></li> -->
      <!-- <li><a routerLink="search">Rechercher une formation</a></li> -->

    </div>
  </div>
</div>
